.input-wrapper {
  position: relative;
  width: fit-content;
}

.input-wrapper label {
  position: absolute;
  bottom: 50%;
  left: 8px;
  translate: 0 50%;
  pointer-events: none;
  transition: 0.3s;
}

.input-wrapper input {
  padding-left: 8px;
  border: none;
  outline: none;
  background-color: #eee;
}

.input-wrapper.active label {
  translate: 0;
  bottom: 110%;
  left: 0;
  color: forestgreen;
  font-weight: bold;
}

.input-wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  top: 140%;
  width: 0;
  height: 2px;
  transition: 0.3s ease-out;
  background-color: forestgreen;
}

.input-wrapper.active::after {
  width: 100%;
}
