.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wrapper > div {
  width: fit-content;
  cursor: pointer;
  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;
  height: 16px;
}

.dot {
  pointer-events: none;
  width: 16px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: thin solid black;
}

.dot.selected {
  background-color: blue;
}

.disabled {
  pointer-events: none;
}

.disabled .dot {
  border-color: red;
}
